/* styles/custom.css */


.img-zoom-container {
  overflow: hidden;
  position: relative;
  background-color: #f8f9fa;
  cursor: zoom-in; /* Magnifying glass */
}



.zoom-img {
  transition: transform 0.4s ease-in-out;
  width: 100%;
  height: auto;
  display: block;
}

/* 3. The Hover State (The Zoom)
*/
.img-zoom-container:hover .zoom-img {
  transform: scale(1.5); 
}